.menu {
  display: flex;
  flex-direction: column;
  flex: 0 0 270px;
  margin-bottom: 30px;
  &__title {
    padding-left: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #000;
    height: 60px;
  }
  & ul {
    width: 270px;
    display: block;
    background-color: #26d2fc;
    & .active li {
      background-color: #000;
      color: #fff;
    }
    & li {
      padding-left: 40px;
      display: flex;
      text-decoration: none;
      color: #fff;
      font-family: "Roboto", sans-serif !important;
      align-items: center;
      text-transform: uppercase;
      height: 40px;
      &:hover {
        background-color: #000;
        color: #fff;
        transition: all 0.2s ease 0.2s;
        -webkit-transition: all 0.2s ease 0.2s;
        -moz-transition: all 0.2s ease 0.2s;
        -ms-transition: all 0.2s ease 0.2s;
        -o-transition: all 0.2s ease 0.2s;
      }
    }
  }
}
