.cart {
  width: 100%;
  &-main__products {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    @media screen and (max-width: 1200px) {
      // display: flex;
      // flex-direction: column;
      //   flex-direction: column;
      //   align-items: center;
      justify-content: center;
    }
    .cart-products__leftbar {
      display: flex;
      width: 100%;
      flex-direction: column;
      max-width: 600px;
      flex: 0 1 600px;
      //   margin-right: 10px;
      flex-wrap: wrap;
      .leftbar-products {
        display: flex;
        &__titles {
          margin-bottom: 10px;
          justify-content: flex-end;
          border-bottom: 1px solid #e6e6e6;
          display: flex;
          text-align: right;
          padding: 10px 0;

          ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
            @media screen and (max-width: 400px) {
              display: none;
            }
            li {
              list-style: none;
              text-transform: uppercase;
            }
          }
        }
        &__items {
          display: flex;
          flex-direction: column;
          .product-item {
            border-bottom: 1px solid #a7a7a7;
            display: flex;
            position: relative;
            justify-content: space-between;
            padding: 10px;
            flex-wrap: wrap;

            img {
              max-width: 70px;
              max-height: 110px;
            }
            &__info {
              display: flex;
              flex-direction: column;
              span {
                display: flex;
                font-family: "Roboto", sans-serif;
                line-height: 16px;
                font-weight: 900;
                max-width: 250px;
                text-transform: uppercase;
                @media screen and (max-width: 400px) {
                  // display: none;
                  font-size: 14px;
                }
              }
              p {
                display: flex;
                color: #666669;
                max-width: 180px;
                font-size: 12px;
                font-family: "Robot", sans-serif;
                @media screen and (max-width: 500px) {
                  display: none;
                }
              }
              ul {
                display: flex;
                li {
                  list-style: none;
                  margin-right: 10px;
                  &:last-child {
                    margin-right: 0;
                  }
                }
              }
            }
            &__price {
              color: #666669;
              @media screen and (max-width: 500px) {
                display: none;
              }
            }
            &__counter {
              display: flex;
              & .counter__wrapper {
                display: flex;
                height: 27px;
                .arrow {
                  display: flex;
                  align-self: center;
                  width: 11px;
                  height: 18px;
                  background-color: #fff;
                }
                .item-arrow__left {
                  width: 0;
                  height: 0;
                  border-top: 10px solid transparent;
                  border-bottom: 10px solid transparent;

                  border-right: 5px solid #000;
                }
                .item-arrow__right {
                  width: 0;
                  height: 0;
                  border-top: 10px solid transparent;
                  border-bottom: 10px solid transparent;
                  border-left: 5px solid #000;
                }
                input {
                  width: 35px;
                  height: 27px;
                  margin: 0 5px;
                  text-align: right;
                  font-family: "Roboto", sans-serif;
                }
              }
            }
            &__subtotal {
              color: #666669;
              @media screen and (max-width: 400px) {
                //display: none;
                position: absolute;
                bottom: 20px;
                left: 50%;
                font-size: 14px;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
              }
            }
            &__delete {
              margin-top: 10px;
              @media screen and (max-width: 420px) {
                position: absolute;
                bottom: 20px;
                right: 10px;
              }
              div {
                width: 18px;
                height: 1px;
                background-color: #ff0000;
                display: block;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                &:before {
                  content: "";
                  width: 18px;
                  height: 1px;
                  background-color: #ff0000;
                  display: block;
                  transform: rotate(90deg);
                  -webkit-transform: rotate(90deg);
                  -moz-transform: rotate(90deg);
                  -ms-transform: rotate(90deg);
                  -o-transform: rotate(90deg);
                }
              }
            }
          }
        }
        &__coupon {
          padding-bottom: 10px;
          p {
            font-size: 16px;
            font-style: italic;
            font-family: "Roboto", sans-serif;
            margin: 20px 0;
            text-transform: uppercase;
          }
          form {
            display: flex;
            justify-content: space-between;
            input {
              text-transform: uppercase;
              color: #a8a8a8;
              border: none;
              padding: 10px 50px 10px 10px;
            }
            button {
              background-color: #000;
              color: #fff;
              border: none;
              text-transform: uppercase;
              font-family: "Roboto", sans-serif;
              padding: 0 20px;
            }
          }
          span {
            display: flex;
            justify-content: flex-end;
            color: #000;
            text-decoration: underline;
            font-style: italic;
          }
        }
      }
    }
  }
}
