.checkout-user {
  margin: 30px 0;
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid #a7a7a7;
  flex-wrap: wrap;
  justify-content: space-evenly;
  @media screen and (max-width: 550px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__quest {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 33.333%;
    // margin-right: 20px;
    .checkout-quest {
      &__title {
        font-size: 24px;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        span {
          font-size: 36px;
          font-weight: 900;
        }
      }
      &__info {
        font-size: 12px;
      }
      &__register {
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        margin-bottom: 20px;
      }
    }
    label {
      input {
        margin: 10px 10px;
      }
    }
    ul {
      li {
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        margin-left: 20px;
      }
    }
    button {
      color: #fff;
      background-color: #000;
      margin: 10px auto;
      display: flex;
      justify-content: center;
      border: none;
      p {
        padding: 10px;
        color: #fff;
        font-family: "Roboto";
        text-transform: uppercase;
      }
    }
  }
  &__member {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 33.333%;
    .checkout-member {
      &__title {
        font-size: 24px;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        span {
          font-size: 36px;
          font-weight: 900;
        }
      }
      &__register {
        font-size: 12px;
        font-family: "Roboto", sans-serif;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      input {
        border: none;
        height: 27px;
        margin: 5px 0;
      }
      p {
        font-size: 12px;
        font-weight: 400;
      }
      button {
        color: #fff;
        background-color: #000;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        border: none;
        padding: 10px 74px;
        color: #fff;
        font-family: "Roboto";
        text-transform: uppercase;
      }
    }
  }
}
.checkout-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;

  &__title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-family: 16px;
    margin-bottom: 50px;
    font-weight: 900;
  }
  &__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 700px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__leftbar {
    width: 100%;
    display: flex;
    flex: 0 1 32%;
    flex-direction: column;
    label {
      text-transform: uppercase;
      font-size: 12px;
      display: flex;
      margin-bottom: 5px;
      flex-direction: column;
      input {
        display: flex;
        padding: 7px 0px 7px 5px;
        color: #aaaaaa;
        margin-bottom: 10px;
        border: none;
        box-shadow: 1px 1px 1px rgb(209, 209, 209);
      }
    }
  }
  &__center {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 0 1 32%;
    label {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 5px;
      input {
        display: flex;
        padding: 7px 0px 7px 5px;
        color: #aaaaaa;
        margin-bottom: 10px;
        border: none;
        box-shadow: 1px 1px 1px rgb(209, 209, 209);
      }
      select {
        border: none;
        box-shadow: 1px 1px 1px rgb(209, 209, 209);
        margin-bottom: 10px;
        margin-top: 20px;
        height: 30px;
      }
    }
  }
  &__rightbar {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex: 0 1 32%;
    .rightbar-cards {
      display: flex;
      justify-content: center;
      img {
        margin-right: 10px;
        margin-bottom: 10px;
        &::last-child {
          margin-right: 0;
        }
      }
    }
    label {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 5px;
      input {
        display: flex;
        padding: 7px 0px 7px 5px;
        color: #aaaaaa;
        margin-bottom: 10px;
        border: none;
        box-shadow: 1px 1px 1px rgb(209, 209, 209);
      }
      select {
        border: none;
        box-shadow: 1px 1px 1px rgb(209, 209, 209);
        margin-bottom: 10px;
        margin-top: 20px;
      }
    }
  }
  &__btn {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    margin: 0 0 0 auto;
    color: #fff;
    background-color: #000;
    border: none;
    padding: 10px 40px;
    @media screen and (max-width: 700px) {
      // display: flex;
      // flex-direction: column;
      margin: 0 auto;
    }
  }
}
