.purchase-process {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  ul {
    display: flex;
    justify-content: space-between;
    // padding: 0 10px;
    width: 100%;
    counter-reset: list1;
    @media screen and (max-width: 550px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    li {
      font-size: 24px;
      font-family: "Roboto", sans-serif;
      display: flex;
      list-style: none;
      text-transform: uppercase;
      color: #aaaaaa;
      @media screen and (max-width: 550px) {
        margin-bottom: 5px;
      }
      &::before {
        counter-increment: list1;
        content: counter(list1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 30px;
        width: 30px;
        height: 30px;
        border: 1px solid #aaa;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
    & .active {
      color: #ff0101 !important;
    }
    & .active::before {
      border: 1px solid #ff0101;
    }
  }
}
